<h5>Add {{parameterName}}</h5>

<div class="input-group input-group-sm">
  <input type="text"
         class="form-control"
         aria-label="Title"
         aria-describedby="inputGroup-sizing-sm"
         (blur)="clearSearchResults($event)"
         (keydown)="clearTypingTimer()"
         (keyup)="searchForParameter($event)">
  <div class="search-results-overlay" [hidden]="!searchResults || searchResults.length === 0">
    <div *ngIf="searchResults && searchResults.length > 0">
      <ul class="list-unstyled">
        <li *ngFor="let result of searchResults" (click)="addParameter(result)">{{result.name}}</li>
      </ul>
    </div>
  </div>
  <div class="input-group-append">
    <button class="input-group-text btn bg-primary text-white" (click)="searchForParameter(input)">search</button>
  </div>
</div>

<ul class="list-unstyled mt-3">
  <li *ngFor="let param of parameters" class="mt-3">
    <span class="p-2 bg-light border rounded">
      {{param.name}}
      <span (click)="removeParameter(param.name)" class="fa fa-times ml-2 pointer"></span>
    </span>
  </li>
</ul>
